/*Header*/
header {
    width: auto;
    height: 300px;
    background: #bc4e9c;
    background: -webkit-linear-gradient(to right, hsla(340, 10%, 10%, 0.459), hsla(217, 10%, 12%, 0.664)), url(https://blog.oxfamintermon.org/wp-content/uploads/2018/06/la-mujer-y-el-trabajo.jpg);
    background: linear-gradient(to right, hsla(340, 10%, 10%, 0.459), hsla(217, 10%, 12%, 0.664)), url(https://blog.oxfamintermon.org/wp-content/uploads/2018/06/la-mujer-y-el-trabajo.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header .texto-header{
    display: flex;
    height: 30%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.texto-header h2{
    height: 75%;
    font-size: 300%;
    color:#fff;
    text-align: center;
}
.texto-header h1{
    height: 0%;
    font-size: 150%;
    color:#fff;
    text-align: center;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: auto;
}
/* Main*/

body {
    font-family: 'open sans';
    background-color: #036C89;
}
.main {
    width: auto;
}

/* Bootstrap 4 text input with search icon */
.input-group{
    width: 50%;
    margin: auto auto;
    height: auto;
}
.has-search .form-control {
    padding-left: auto;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }
}

@media screen and (max-width:600px){
    .busqueda-header h1{
        font-size: 300%;
    }
    .busqueda-header h2{
        font-size: 100%;
    }
}
 /* Formulario */

.formulario-form{
    padding: 0px 0px;
    margin: auto;
}

.formulario-form form{
    background-color: #f7f7f7;
    max-width: 50%;
    margin: auto;
    padding: 30px 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    text-align: center;
}

.formulario-form .create-job{
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: #ffffff;
    background-color: #007BFF;
    margin-top: 20px;
    width: 35%;
}

.formulario-form .item{
    border-radius: 50px;
    margin-bottom: 0px;
    padding: 10px 10px;
    width: 50%;
}

.texto-formulario h3{
    height: 40%;
    font-size: 100%;
    color:#636363;
    text-align: left;
    margin-bottom: 5px;
    margin-left: 25%;
}

.texto-formulario h4{
    height: 50%;
    font-size: 150%;
    color:#000;
    text-align: left;
    margin-top: -3%;
    text-align: center;
}

option[value=""][disabled] {
  display: none;
}

/* footer */
footer{
    background: #004D7A;
    padding: 1% 0 1% 0;
    margin: 0px;
    overflow:hidden;
}

.titulo-final{
    text-align: center;
    font-size: 150%;
    margin: 0.1%;
    color: #9e9797;
}